.window-source-container {
  border: solid;
    padding: 14px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
    cursor: pointer;
}

.frame {
  width: 80%;
  margin: 0 auto;
  height: 80%;
  overflow: auto;
}
